html {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  list-style: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #258cfb;
  text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.eliminar:hover {
  color: red;
}

.actualizar:hover {
  color: green;
}

.ver:hover {
  color: blue;
}

.crear {
  color: white;
}

