@{
    ViewData["Title"] = "CrearUsuario";
}

@model tp10_tl2.Models.CrearUsuarioViewModel

<div class="text-center">
    <h1 class="display-4">Crear Usuario</h1>
    <form asp-controller="Usuario" asp-action="CrearUsuario" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input asp-for="@Model.Nombre" type="text" class="form-control" id="nombre">
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <h4 style="color: red;">Nombre de Usuario ya existente</h4>
            }
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input asp-for="@Model.Password" type="password" class="form-control" id="password">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}