@{
    ViewData["Title"] = "CrearUsuario";
}

@model Usuario

<div class="text-center">
    <h1 class="display-4">Crear Usuario</h1>
    <form asp-controller="Usuario" asp-action="CrearUsuarioForm" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input asp-for="@Model.NombreDeUsuario" type="text" class="form-control" id="nombre">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
