@model tp10_tl2.Models.ModificarUsuarioViewModel;

@if (String.IsNullOrEmpty(Model.Nombre))
{
    <article>
        <p><strong>ERROR 404</strong></p>
    </article>

}
else
{
    <div class="text-center">
        <h1 class="display-4">Modificar Usuario</h1>
        <form asp-controller="Usuario" asp-action="ModificarUsuario" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input asp-for="@Model.Nombre" value="@Model.Nombre" type="text" class="form-control" id="nombre">
                <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                <input hidden asp-for="@Model.Id">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}